html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: none !important;
}
html{
  background:#fff;
}
.bg-light-gray {
  background-color: #eeeeee;
}
body{
  font-family: 'Lato', 'Open Sans', 'sans-serif';
  font-size: 18px;
}
.cwrap{
  /*padding-top:60px;*/
}
.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  color: white;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar-brand{
  color: white;
  font-family: 'Crushed';
  font-weight: 700;
  font-size: 32px;
}
.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
  color: white;
}
.brand-logo{
  float: left;
  margin: -3px 10px 0 0;
  background-color: white;
}
.navbar-nav>li>a {
    color: white;
    /*padding-top: 20px;
    padding-bottom: 25px;*/
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}
.navbar-nav>li>a:hover {
    color: #FEFEFE;
    /*border-bottom: 4px solid #0f3870;*/
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 350px;
}
.navbar-ex1-collapse{
    /*background-color: #FFFFFF;*/
}
.collapse-hide {
    display: block;
}
.collapse-show{
    display: none;
}
@media(min-width:768px) {
    .collapse-show {
        display: none;
    }
}
@media (max-width: 767px) {
    .collapse-hide {
        display: none;
    }
    .collapse-show{
        display: block;
    }
    .top-nav{
      padding: 0px;
    }
}
#epitch{
  overflow: hidden;
  min-height:600px;
  padding: 10px 0px;
  background: url(/images/pitchbg4.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}
#cpitch{
  overflow: hidden;
  min-height:350px;
  padding: 10px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}

#atrain{
  overflow: hidden;
  min-height:600px;
  padding: 20px 0px;
  background: url(../images/stars.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}
#pitch-text-wrap{
  margin: 150px 0px;
  text-align: center;
}
.pitch-text{
  /*background-color: #0f3870;*/
  opacity: 0.9;
  padding: 20px;
}
.maroon{
  background-color: #931829;
  color: white;
}
.blue{
  background-color: #0f3870;
}
.nsection{
  margin: 30px 0px;
}
.page-section{
  margin-top: 20px;
}
.page-section p{
  margin: 20px 0px;
}
.sheader{
  margin: 5px 0px 25px 0px;
}
.subhead{
  color: #898989;
}
.in{
  color: inherit;
  text-decoration: none;
}
a.in:hover{
  color: inherit;
  text-decoration: none;
}
.h{
  border-bottom: 1px solid #BBBBBB;
}
.containerlessw{
  padding: 0px 10px 0px 30px;
}
#endtoend{
  background-color: #931829;
  color: white;
  padding-top: 100px;
}
.portfolio-item {
    margin-bottom: 25px;
    text-align: center;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

.footer {
  width: 100%;
  padding: 20px 0px;
  font-size: 14px;
  background-color: #333333;
  color: #FFFFFF;
}
.footer a{
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px dotted #FFFFFF;
}
.footer a:hover{
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
}
ul.wcontact{
  list-style: none;
  padding: 0px;
}
ul.wcontact li{
  margin: 20px 0px;
  text-decoration: none;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.techd{
  height: 150px;
  font-size: 14px;
}
.bar, .eve{
  height: 270px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.bar{
  background-color: #FFFFFF;
}
.eve{
  background-color: #EEEEEE;
}
.picsGall{
  border: 2px solid #CCCCCC;
}
.j{
  text-align: justify;
}
.ts{
  font-size: 15px;
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter { background: url(../images/social-icons/twitter.png) left top no-repeat; }
.icons a.rss { background: url(../images/social-icons/rss.png) left top no-repeat; }
.icons a.pinterest { background: url(../images/social-icons/pinterest.png) left top no-repeat; }
.icons a.flickr { background: url(../images/social-icons/flickr.png) left top no-repeat; }
.icons a.vimeo { background: url(../images/social-icons/vimeo.png) left top no-repeat; }
.icons a.sharethis { background: url(../images/social-icons/sharethis.png) left top no-repeat; }
.icons a.linkedin { background: url(../images/social-icons/linkedin.png) left top no-repeat; }
.icons a.facebook { background: url(../images/social-icons/facebook.png) left top no-repeat; }
.icons a.email { background: url(../images/social-icons/email.png) left top no-repeat; }
.icons a.github { background: url(../images/social-icons/github.png) left top no-repeat; }
.icons a.youtube { background: url(../images/social-icons/youtube.png) left top no-repeat; }
.icons a.skype { background: url(../images/social-icons/skype.png) left top no-repeat; }
.icons a.tumblr { background: url(../images/social-icons/tumblr.png) left top no-repeat; }
.icons a.google { background: url(../images/social-icons/google.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }
.cform-response{
  background-color: #EEEEEE;
  padding: 20px;
  margin: 10px 0px;
}
.justifiedps p{
  text-align: justify;
}
.mywell{
  background-color: #EEEEEE;
  padding: 10px 15px;
}
