<ul class="wcontact">
  <li><i class="glyphicon glyphicon-home"></i> Ernakulam, Kerala</li>
  <li><i class="glyphicon glyphicon-phone"></i> Call us at +91 940094 6888</li>
  <li><i class="glyphicon glyphicon-envelope"></i> Email us at <a href="mailto:hello@weavelabs.com">hello@weavelabs.com</a></li>
  <li><i class="glyphicon glyphicon-chevron-right"></i> Skype us at <span class="h">weavelabs</span></li>
  <li>
    <div class="icons">
      <a class="twitter" href="https://twitter.com/weavelabs"></a>
      <a class="facebook" href="https://facebook.com/weavelabs"></a>
    </div>
  </li>
</ul>
