<div style="padding-left: 18px;">
  <ul class="wcontact">
    <li><i class="glyphicon glyphicon-phone"></i> Talk to us at +91 95397 89333</li>
    <li><i class="glyphicon glyphicon-envelope"></i> Email us at <a href="mailto:hello@weavelabs.com">hello@weavelabs.com</a></li>
    <li><i class="glyphicon glyphicon-globe"></i> Trivandrum, Kerala</li>
  </ul>
  <div class="icons">
    <a class="twitter" href="https://twitter.com/weavelabs"></a>
    <a class="facebook" href="https://facebook.com/weavelabs"></a>
    <a class="sharethis" href="https://weavelabs.com/blog"></a>
  </div>
</div>
