<!-- <footer class="footer">
  <div class="container">
    <p>Copyright &copy; <a href="https://weavelabs.com">Weave Labs</a> | <a href="/terms">Terms and Conditions</a> | <a href="privacy">Privacy Policy</a> | <i class="glyphicon glyphicon-phone"></i> +91 95397 89333 | <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:hello@weavelabs.com">hello@weavelabs.com</a></p>
  </div>
</footer>
 -->


<!--footer-->
<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->

                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_nav_menu"><!-- widgets list -->


                                <ul>
                                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                </ul>

              </li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_nav_menu"><!-- widgets list -->


                                <ul>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                                </ul>

              </li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">


                </div><!-- widgets column left end -->


                <div class="col-lg-3 col-md-3"><!-- widgets column center -->



                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_recent_news"><!-- widgets list -->

                                <h1 class="title-widget">Contact Us  </h1>

                                <div class="footerp">

                                <h2 class="title-median">Webenlance Pvt. Ltd.</h2>
                                <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@webenlance.com</a></p>

    <p><b>Corp Office / Postal Address</b></p>
    <p><b>Call us at </b>+91 9400946888</p>
                                </div>

                                <div class="social-icons">

                                  <ul class="nomargin">

                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                    </ul>
                                </div>
                        </li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2017, WeaveLabs, All rights reserved

        </div>

      </div>


    </div>

  </div>

</div>
