<div class="navbar transparent" id="topnav">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-wl-navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}"><img src="/images/logoh.jpg" class="brand-logo"> Weave Labs</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-wl-navbar">
      <ul class="nav navbar-nav navbar-right" style="text-align: right;">
        <li><a href="/services/">Services</a></li>
        <li><a href="/#portfolio">Portfolio</a></li>
        <li><a href="/#team">Team</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/#contact">Talk To Us</a></li>

      </ul>
    </div>
  </div>
</div>
