
<div class="navbar transparent" id="topnav">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav pull-left top-nav collapse-show">
        <li>
          <a class="white-text" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="color: #333333; padding: 10px 0px"></span>
          </a>
        </li>
      </ul>
      <a class="navbar-brand" href="https://weavelabs.com">Weave Labs</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#services">Services</a></li>
        <li><a href="/#portfolio">Portfolio</a></li>
        <li><a href="/#team">Team</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/#contact">Talk To Us</a></li>

      </ul>
    </div>
  </div>
</div>
