<div class="col-md-3 bar">
  <div class="textP">
    <h3><a href="/services/ruby-on-rails">Ruby on Rails</a></h3>
    <p class="techd">Ruby on Rails is a web framework in the Ruby language. With convention over configuration, and being in an easily readable language like Ruby, this framework is extensively used to build web apps in a fast pace.</p>
    <p>
      <img src="/images/tech/ruby.png" />&nbsp;<img src="/images/tech/rails.png" />
    </p>
  </div>
</div>

<div class="col-md-3 eve">
  <div class="textP">
    <h3><a href="/services/android-apps">Android Applications</a></h3>
    <p class="techd">With a rapid increase in the use of mobile phones, people accessing the web and consuming services over mobile networks are very common. The Android platform is the largest segment in mobile Operating Systems.</p>
    <p>
      <img src="/images/tech/android.png" />
    </p>
  </div>
</div>


<div class="col-md-3 bar">
  <div class="textP">
    <h3><a href="/services/reactjs">React JS</a></h3>
    <p class="techd">React is a declarative, efficient, and flexible JavaScript library for building user interfaces. By building with the react ecosystem, your views can be made of responsive and reusable components which can talk to an API.</p>
    <p>
      <img src="/images/tech/react.png" />
    </p>
  </div>
</div>

<div class="col-md-3 eve">
  <div class="textP">
    <h3><a href="/services/ionic-apps">Ionic Applications</a></h3>
    <p class="techd">Ionic Framework offers the best web and native app components for building highly interactive native and progressive web apps with Angular all with a single codebase. Ionic works and looks beautiful wherever it runs.</p>
    <p>
      <img src="/images/tech/ionic.png" />
    </p>
  </div>
</div>
