<div class="container" id="training">
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="sheader" style="margin-top: 40px;">
        <h2>Our Value Guarantee</h2>
        <h4><i>Our assurance to quality, without burning a hole in your pocket!</i></h4>
      </div>
      <p>Are you on a shoestring budget? Starting small?<br /><br />We are here to help.<br /><br />Introducing the 45-day Build Plan. We have many default starter kits, which can help you bootstrap your next project in 45 days or less, and get it ready in front of your customers.</p>

      <br />
      <p><i class="glyphicon glyphicon-star"></i> <span class="h"> Fixed Budget Starters</span> <br />Get a starter app done with us at a fixed price. Build your MVP.
      </p>
      <p><i class="glyphicon glyphicon-star"></i> <span class="h">Free Project Evaluations</span> <br />Get free project evaluations and possible solution stacks.
      </p>
      <p><i class="glyphicon glyphicon-star"></i> <span class="h">Custom?</span> <br />We can customize Build Plans just for you.
        </p>
      <br />
      <p>
        <a href="/#contact" class="btn btn-lg btn-danger">Talk to us to know more</a>
      </p>
    </div>
  </div>
</div>
<br />
