<div class="sheader">
  <h2>Who are we?</h2>
  <h4 class="subhead">Professional software developers with industry expertise.</h4>
</div>
<p class="j">
  We are a team of experienced and professional software engineers and architects, who build end-to-end solutions for you. Using agile software engineering principles, we work in short sprints to deliver impactful software in every iteration.
</p>
<p class="j">
  We have expertise in building solutions for the web and mobile devices, designing scalable architectures, building Android and iOS applications, and creating fast MVPs using Ruby on Rails, CodeIgnitor, Play, Spring and other modern web frameworks.
</p>
