<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="cwrap">
      <section id="epitch">
        {% include header.html %}
        <div class="container" id="home">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div id="pitch-text-wrap">
                <div class="pitch-text">
                  <h1>Build the next mobile / web application.</h1>
                  <p>We are a team of software engineers <br />proficient in building applications for the web and mobile.</p>
                  <h2 style="">Interested? <a href="#contact" class="maroon"> Let's Talk </a></h2>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </section>
      {{ content }}
      </div>
    {% include footer.html %}
    {% include javascripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
